<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEmployeeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:commandLink action="#{employeeController.prepareList}" value="#{bundle.CreateEmployeeShowAllLink}" immediate="true"/>
                &nbsp;&nbsp;&nbsp;
                <h:link outcome="/index" value="#{bundle.CreateEmployeeIndexLink}"/>
                <br />
                <br />
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEmployeeLabel_employeeId}" for="employeeId" />
                    <h:inputText id="employeeId" value="#{employeeController.selected.employeeId}" title="#{bundle.CreateEmployeeTitle_employeeId}" required="true" requiredMessage="#{bundle.CreateEmployeeRequiredMessage_employeeId}"/>
                    <h:outputLabel value="#{bundle.CreateEmployeeLabel_repliconName}" for="repliconName" />
                    <h:inputText id="repliconName" value="#{employeeController.selected.repliconName}" title="#{bundle.CreateEmployeeTitle_repliconName}" required="true" requiredMessage="#{bundle.CreateEmployeeRequiredMessage_repliconName}"/>
                </h:panelGrid>
                <br />
                <br />
                <h:commandLink action="#{employeeController.create}" value="#{bundle.CreateEmployeeSaveLink}" />
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
