/* 
    Created on : Mar 21, 2016, 5:19:00 PM
    Author     : Gibson Levvid
*/

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

table{font-size:inherit;font:100%}
.upload{
    margin: 10px;
}
p.header{
    float:right;
    text-align:right;
    line-height:1.1; 
    color: #03a63c;
}
.submit{
    text-align:right;
    padding:0 5px;
    padding-top: 5px;
    margin-top: 10px;
}

.submit, button span{
    display:inline-block;
    padding:0 10px;margin:0;
    background:#4d818c;
    background-color:#4d818c;
    background-image:-moz-linear-gradient(top, #4d818c, #4d818c);
    background-image:-ms-linear-gradient(top, #4d818c, #4d818c);
    background-image:-o-linear-gradient(top, #4d818c, #4d818c);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#4d818c), to(#31654b));
    background-image:-webkit-linear-gradient(top, #4d818c, #4d818c);
    background-image:linear-gradient(to bottom, #4d818c, #4d818c);
    height:35px;
    line-height:25px;
    text-shadow:rgba(0,0,0,0.8) 0 -1px 0;
    color:#fff;
    text-decoration:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;-webkit-font-smoothing:antialiased;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;
    -moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;
    box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;
    opacity:0.8;
    -moz-transition:opacity 0.2s linear;
    -o-transition:opacity 0.2s linear;
    -webkit-transition:opacity 0.2s linear;
    -ms-transition:opacity 0.2s linear;transition:opacity 0.2s linear
}

.upload_button, label.upload {
    background: #00A0D1;
    background: -moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00A0D1),color-stop(100%,#008DB8));
    background: -webkit-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background: -o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background: -ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background: linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
    padding:8px 20px;
    color:#cfebf3;
    font-family:'Helvetica Neue',sans-serif;
    font-size:15px;
    border-radius:40px;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border:1px solid #095B7E
}
pre,code,kbd,samp,tt{
    font-family:monospace;
    *font-size:108%;
    line-height:100%
}
html{
    color:#000;
    background:#FFF
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0
}

table{
    border-collapse:collapse;
    border-spacing:0
}

fieldset,img{
    border:0
}

address,caption,cite,code,dfn,em,strong,th,var{
    font-style:normal;
    font-weight:normal
}

li{
    list-style:none
}
caption,th{
    text-align:left
}

h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal
}

q:before,q:after{
    content:''
}

abbr,acronym{
    border:0;font-variant:normal
}

sup{
    vertical-align:text-top
}

sub{
    vertical-align:text-bottom
}

input,textarea,select{
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit
}

input,textarea,select{
    *font-size:100%
}

legend{
    color:#000
}

h1,h2,h3,h4,h5,h6,strong{
    font-weight:normal
}

abbr,acronym{
    border-bottom:1px dotted #000;
    cursor:help;
}

em{
    font-style:italic
}

ol li{
    list-style:decimal outside
}

ul li{
    list-style:disc outside
}

th{
    font-weight:normal;
}

caption{
    margin-bottom:.5em;
    text-align:center
}

body{
    color:#fff;
    font:11px/1.6 "Lucida Grande", Tahoma, Verdana, sans-serif;padding-top:0
}

header h1 a,#signin form h2,#signup form h2,#forgot_password h2,#password_reset_sent h2,#full_map h1{
    display:block;
    background-repeat:no-repeat;background-position:0 50%;text-indent:-9999px;
    overflow:hidden;
    height:34px}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){header h1 a,#signin form h2,#signup form h2,#forgot_password h2,#password_reset_sent h2,#full_map h1{background-image:url("/assets/logo@2x-96306a0aa76cc4bdd77539ff94b4c694.png");
                                                                                                                                                                                                        -webkit-background-size:82px 24px;
                                                                                                                                                                                                        background-size:82px 24px}
}

header{margin:0 auto;
       width:100%;
       max-width:1000px;
       left:0;
       right:0;
       position:fixed;
       z-index:10;top:0;
       height:53px;
       
}

header h1{
    width:100px;
    position:absolute;
    z-index:2;left:2%;
    top:0
}

header h1 a{
    margin:10px 0
}

header #nav-wrapper{
    position:relative;
    margin-left:27%;
    margin-top:13px;
    width:71%;margin-right:2%
}

header .new{
    z-index:1;
    position:absolute;
    left:-104px;
    text-align:right
}

header a.map_view{
    color:#222;
    text-shadow:#fff 0 1px 0;
    background-position:center;background-repeat:no-repeat
}
@media (-webkit-min-device-pixel-ratio: 2), 
(min--moz-device-pixel-ratio: 2), 
(min-device-pixel-ratio: 2), 
(min-resolution: 192dpi), 
(min-resolution: 2dppx)
{
    header a.map_view{-webkit-background-size:140px 64px;background-size:140px 64px
    }
}
header ul{
    float:right;
    -webkit-box-shadow:rgba(0,0,0,0.1) 0 1px 3px,rgba(0,0,0,0.15) 0 0 0 1px,inset rgba(255,255,255,0.1) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;
    -moz-box-shadow:rgba(0,0,0,0.1) 0 1px 3px,rgba(0,0,0,0.15) 0 0 0 1px,inset rgba(255,255,255,0.1) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;
    box-shadow:rgba(0,0,0,0.1) 0 1px 3px,rgba(0,0,0,0.15) 0 0 0 1px,inset rgba(255,255,255,0.1) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;
    background-color:rgba(57,57,57,0.5);background-image:-moz-linear-gradient(top, rgba(57,57,57,0.5), rgba(39,39,39,0.5));
    background-image:-ms-linear-gradient(top, rgba(57,57,57,0.5), rgba(39,39,39,0.5));
    background-image:-o-linear-gradient(top, rgba(57,57,57,0.5), rgba(39,39,39,0.5));
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(57,57,57,0.5)), to(rgba(39,39,39,0.5)));
    background-image:-webkit-linear-gradient(top, rgba(57,57,57,0.5), rgba(39,39,39,0.5));
    background-image:linear-gradient(to bottom, rgba(57,57,57,0.5), rgba(39,39,39,0.5));
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-font-smoothing:antialiased;
    font-weight:normal;
}

header ul li#masquerading{
    background-color:#911;
    border-radius:5px;
    -webkit-border-radius:5px
}
header ul li#masquerading form{
    display:inline
}

header ul li#masquerading submit{
    color:#FFF;
    cursor:pointer;
    line-height:27px
}

header ul li{
    float:left;
    list-style:none;
    height:27px;
    line-height:27px;
    padding:0 15px;
    text-shadow:rgba(0,0,0,0.8) 0 -1px 0
}

header ul li a{
    margin:0 -15px;
    padding:0 15px;
    display:block;
    color:#999;
    text-decoration:none;
    -moz-transition:color 0.2s linear;
    -o-transition:color 0.2s linear;
    -webkit-transition:color 0.2s linear;
    -ms-transition:color 0.2s linear;
    transition:color 0.2s linear
}

header ul li a:hover{
    color:#fff
}
header ul li span.indicator{
    display:inline-block;
    width:16px;height:16px;
    vertical-align:middle;
    margin:-3px 0 0 4px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
    header ul li span.indicator{
        -webkit-background-size:16px 16px;
        background-size:16px 16px
    }
}
header ul li span.indicator span{
    -webkit-transition:0.2s linear;
    -moz-transition:0.2s linear

}

header ul li.live{color:#777;position:relative}
header ul li.live span{
    text-transform:uppercase;
    color:#777
}

.submit i,button span i{
    display:inline-block;
    margin:0 0 0 -10px;
    width:26px;
    background-repeat:no-repeat;
    background-position:7px 5px;
    height:27px;vertical-align:middle
}

.button.close span{
    background-position:3px 50%
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
    .button.close span{
        -webkit-background-size:21px 27px;
        background-size:21px 27px
    }
}

button span{
    opacity:0.99
}

.button:hover{
    opacity:1
}

.button.new i{
    background-position:6px 3px
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
    .button.new i{-webkit-background-size:16px 16px;background-size:16px 16px
    }
}

button.delete span{
    background-color:#cc3300;background-image:-moz-linear-gradient(top, #c30, #911);
    background-image:-ms-linear-gradient(top, #c30, #911);
    background-image:-o-linear-gradient(top, #c30, #911);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#c30), to(#911));
    background-image:-webkit-linear-gradient(top, #c30, #911);
    background-image:linear-gradient(to bottom, #c30, #911)
}

button.subtle span,a.button.subtle{
    background-color:#999999;
    background-image:-moz-linear-gradient(top, #999, #666);
    background-image:-ms-linear-gradient(top, #999, #666);
    background-image:-o-linear-gradient(top, #999, #666);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#999), to(#666));
    background-image:-webkit-linear-gradient(top, #999, #666);
    background-image:linear-gradient(to bottom, #999, #666)
}
#sharing_list button span,#sharing_list a.button{
    height:21px;
    line-height:19px
}

div.zoomin,div.zoomout{
    width:20px;height:20px;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.4) 0 0 0 1px,inset #fff 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;
    -moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.4) 0 0 0 1px,inset #fff 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;
    box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.4) 0 0 0 1px,inset #fff 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;border-radius:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    position:absolute;
    left:10px;
    top:10px;
    text-indent:-9999px;
    overflow:hidden;
    cursor:default;
    background:#d5d5d5 no-repeat center}div.zoomin:active,div.zoomout:active{background-color:#ccc
}

.dark div.zoomin,.dark div.zoomout{
    background-color:#999;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.9) 0 0 0 1px,inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.7) 0 -1px 0;
    -moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.9) 0 0 0 1px,inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.7) 0 -1px 0;
    box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.9) 0 0 0 1px,inset rgba(255,255,255,0.3) 0 1px 0,inset rgba(0,0,0,0.7) 0 -1px 0
}

div.zoomout{
    top:40px;
}

div.overlay{
    position:fixed;
    top:0;left:0;
    right:0;
    bottom:0;
    background:#000;
    opacity:0.75;
    z-index:500
}

div.dialog{
    text-shadow:#fff 0 1px 0;
    opacity:0;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.05) 0 1px 0,inset rgba(0,0,0,0.05) 0 -1px 0;
    -moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.05) 0 1px 0,inset rgba(0,0,0,0.05) 0 -1px 0;
    box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.05) 0 1px 0,inset rgba(0,0,0,0.05) 0 -1px 0;
    position:fixed;top:50%;left:50%;
    margin:-200px 0 0 -190px;
    width:380px;
    z-index:501;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;color:#222
}

div.dialog form label{
    text-align:left
}
div.dialog p.text input{
    -webkit-box-shadow:inset rgba(0,102,204,0.1) 0 0 10px;
    -moz-box-shadow:inset rgba(0,102,204,0.1) 0 0 10px;
    border:1px solid #ccc
}

div.dialog label{
    width:70px
}

div.dialog div.display{
    padding:58px 15px;
    position:relative;
    z-index:1;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box
}

div.dialog div.toolbar.top{
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-box-shadow:inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;
    -moz-box-shadow:inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;
    box-shadow:inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;
    background-color:#393939;background-image:-moz-linear-gradient(top, #393939, #262626);
    background-image:-ms-linear-gradient(top, #393939, #262626);
    background-image:-o-linear-gradient(top, #393939, #262626);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#393939), to(#262626));
    background-image:-webkit-linear-gradient(top, #393939, #262626);
    background-image:linear-gradient(to bottom, #393939, #262626);color:#fff;text-shadow:black 0 1px 0
}

div.dialog div.toolbar.bottom{
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box
}

div.dialog div.toolbar.bottom a.button,div.dialog div.toolbar.bottom button{
    float:right;margin:8px 8px 0 0
}

div.dialog strong.error_explanation{
    color:#fcc}a.button.cancel{
    background-color:#999999;background-image:
        -moz-linear-gradient(top, #999, #666);
        background-image:-ms-linear-gradient(top, #999, #666);
        background-image:-o-linear-gradient(top, #999, #666);
        background-image:-webkit-gradient(linear, left top, left bottom, from(#999), to(#666));
        background-image:-webkit-linear-gradient(top, #999, #666);
        background-image:linear-gradient(to bottom, #999, #666)
}

div.dialog:before{
    content:'';
    z-index:-1;
    position:absolute;
    right:-15px;left:-15px;
    bottom:-15px;top:-15px;
    background:rgba(0,0,0,0.2);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-box-shadow:inset rgba(255,255,255,0.2) 0 -1px 0,inset rgba(0,0,0,0.3) 0 1px 0;
    -moz-box-shadow:inset rgba(255,255,255,0.2) 0 -1px 0,inset rgba(0,0,0,0.3) 0 1px 0;
    box-shadow:inset rgba(255,255,255,0.2) 0 -1px 0,inset rgba(0,0,0,0.3) 0 1px 0
}

.wordpress i{
    display:inline-block;
    width:16px;height:16px;
    background-repeat:no-repeat;
    vertical-align:middle;
    margin:-2px 3px 0 0
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){.wordpress i{background-image:url("/assets/wordpress@2x-07080bac5fb81436fc866bd3360487ea.png");-webkit-background-size:16px 16px;background-size:16px 16px}}div.panel+div.panel{display:none}div.panel li{list-style:none;margin:0 0 12px}strong.button{margin:0 10px 0 0;background:#e4e4e4;color:#222;text-shadow:#fff 0 1px 0;opacity:1;-webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.15) 0 0 0 1px,inset rgba(255,255,255,0.5) 0 1px 0,inset rgba(0,0,0,0.2) 0 -1px 0;-moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.15) 0 0 0 1px,inset rgba(255,255,255,0.5) 0 1px 0,inset rgba(0,0,0,0.2) 0 -1px 0;box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.15) 0 0 0 1px,inset rgba(255,255,255,0.5) 0 1px 0,inset rgba(0,0,0,0.2) 0 -1px 0}span.overflow{overflow:hidden;display:block;text-overflow:ellipsis;position:absolute;left:10px;right:0}#data-wrapper{margin:0 auto;width:100%;max-width:1000px;left:0;right:0;display:block;position:fixed;top:54px;bottom:35px}#sites-wrapper{margin:0 auto;width:100%;max-width:1000px;left:0;right:0;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;position:absolute;top:54px}#sites-wrapper #sites{z-index:5;box-sizing:border-box;width:25%;margin-left:2%;padding-right:16px}#sites-wrapper div.site{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;-moz-justify-content:space-between;justify-content:space-between;-webkit-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;-moz-align-items:flex-end;align-items:flex-end;width:100%;height:60px;-webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;-moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;background:#262626;background-color:#393939;background-image:-moz-linear-gradient(top, #393939, #262626);background-image:-ms-linear-gradient(top, #393939, #262626);background-image:-o-linear-gradient(top, #393939, #262626);background-image:-webkit-gradient(linear, left top, left bottom, from(#393939), to(#262626));background-image:-webkit-linear-gradient(top, #393939, #262626);background-image:linear-gradient(to bottom, #393939, #262626);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;margin:0 0 15px;-webkit-font-smoothing:antialiased;position:relative;text-shadow:rgba(0,0,0,0.8) 0 -1px 0;cursor:default}#sites-wrapper div.site.site-needs-installed{background-color:darkred;background-image:-moz-linear-gradient(top, darkred, #6c0000);background-image:-ms-linear-gradient(top, darkred, #6c0000);background-image:-o-linear-gradient(top, darkred, #6c0000);background-image:-webkit-gradient(linear, left top, left bottom, from(darkred), to(#6c0000));background-image:-webkit-linear-gradient(top, darkred, #6c0000);background-image:linear-gradient(to bottom, darkred, #6c0000)}#sites-wrapper div.site.site-needs-installed h2,#sites-wrapper div.site.site-needs-installed p{color:#fff}#sites-wrapper div.site h2{position:absolute;top:7px;left:10px;line-height:16px;color:#999;overflow:hidden;white-space:nowrap;width:150px;text-overflow:ellipsis}#sites-wrapper div.site h2 i{vertical-align:middle;margin:-4px 0 0;width:18px;overflow:hidden;display:inline-block;white-space:nowrap}#sites-wrapper div.site h2 img{vertical-align:middle;float:left;width:16px;height:16px}#sites-wrapper div.site p,#sites-wrapper div.site .graph{padding:11px 10px 11px 0}#sites-wrapper div.site p.views{padding-left:20px}#sites-wrapper div.site .graph{padding-right:10px}#sites-wrapper div.site p{font-size:15px;line-height:0.9;color:#999}#sites-wrapper div.site p strong{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:17px;display:block;line-height:1;color:#fff;font-weight:500;opacity:0.99}#sites-wrapper div.site a{position:absolute;left:0;right:0;top:0;bottom:0;text-indent:-9999px;overflow:hidden}#sites-wrapper div.site li{list-style:none}#sites-wrapper div.site ul{height:40px;width:56px}#sites-wrapper div.site ul li{float:right;width:7px;height:40px;margin:0 0 0 1px;position:relative}#sites-wrapper div.site ul li span{position:absolute;bottom:0;left:0;width:7px;background:url("/assets/bar-8d34c0c0ce51e147e89d032f4c02f253.png") repeat bottom left;text-indent:-9999px;overflow:hidden}#sites-wrapper div.site ul li.weekend span{background-image:url("/assets/bar_we-238ce4d19361107448d7f049a5a06760.png")}#sites-wrapper div.site.current{background-image:url("/assets/blue-d068063b41718a921083177bb74496e4.jpg");text-shadow:#fff 0 1px 0;-webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;-moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0}#sites-wrapper div.site.current h2{color:#515F73}#sites-wrapper div.site.current p{color:#666}#sites-wrapper div.site.current p strong{color:#111}header::after,footer::before{display:none;box-sizing:content-box;content:'';position:absolute;top:-5px;margin-left:2%;padding:0 6px;left:-14px;z-index:100;width:25%;height:4px;border-bottom:1px solid transparent;border-image:linear-gradient(to right, rgba(20,20,20,0) 0%, #141414 10%, #141414 90%, rgba(20,20,20,0) 100%);border-top:0;border-left:0;border-right:0;border-image-slice:1;background-image:radial-gradient(farthest-side at center bottom, rgba(20,20,20,0.4) 40%, rgba(20,20,20,0) 100%)}header::after{bottom:-5px;top:auto;border-bottom:0;border-top:1px solid transparent;background-image:radial-gradient(farthest-side at center top, rgba(20,20,20,0.4) 40%, rgba(20,20,20,0) 100%)}.topcut header::after{display:block}.bottomcut footer::before{display:block}div.deleted{position:absolute;left:50%;top:50%;margin:-10px 0 0 -165px;width:300px;background:#f4f4f4;background:rgba(0,0,0,0.05);color:#222;text-shadow:#fff 0 1px 1px;padding:10px 15px;font-size:15px;clear:both;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;text-align:center}div.deleted:before{content:'';position:absolute;top:-150px;left:0;width:330px;height:120px;background:url("/assets/deleted-0bdde550adcbffcb41bd6499bcd29107.png") no-repeat center}#sites.meld div.site.current{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;border-top-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-bottomleft:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;width:100%}#sites.meld div.site.current ul{right:25px}#sites.meld div.site.current:before{content:'';position:absolute;right:-21px;overflow:hidden;top:-5px;width:25px;height:70px;background:url("/assets/blue-d068063b41718a921083177bb74496e4.jpg")}#sites.meld div.site.current:after{content:'';position:absolute;right:-16px;overflow:hidden;top:-5px;width:20px;height:5px;background:url("/assets/grey-52e74cad092cff4c017a44da2d3e8431.jpg");border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;-webkit-box-shadow:inset rgba(0,0,0,0.65) -1px -1px 0;-moz-box-shadow:inset rgba(0,0,0,0.65) -1px -1px 0;box-shadow:inset rgba(0,0,0,0.65) -1px -1px 0}#sites.meld div.site.current .graph:before{content:'';position:absolute;right:-16px;overflow:hidden;bottom:-5px;width:20px;height:6px;background:url("/assets/blue-d068063b41718a921083177bb74496e4.jpg")}#sites.meld div.site.current .graph:after{content:'';position:absolute;right:-16px;overflow:hidden;bottom:-5px;width:20px;height:5px;background:url("/assets/grey-52e74cad092cff4c017a44da2d3e8431.jpg");-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;-webkit-box-shadow:inset rgba(0,0,0,0.45) -1px 1px 0,inset rgba(0,0,0,0.6) -1px 1px 2px,rgba(0,0,0,0.1) 0 -1px 0;-moz-box-shadow:inset rgba(0,0,0,0.65) -1px 1px 0,inset rgba(0,0,0,0.6) -1px 1px 2px,rgba(0,0,0,0.1) 1px -1px 0;box-shadow:inset rgba(0,0,0,0.65) -1px 1px 0,inset rgba(0,0,0,0.6) -1px 1px 2px,rgba(0,0,0,0.1) 1px -1px 0}#sites.meld div.site:first-child.current:before{top:0;height:65px;overflow:hidden;-webkit-box-shadow:inset rgba(255,255,255,0.25) 0 1px 0;-moz-box-shadow:inset rgba(255,255,255,0.25) 0 1px 0;box-shadow:inset rgba(255,255,255,0.25) 0 1px 0}#sites.meld div.site:first-child.current:after{display:none}a.back{display:none}a.sign_out{display:none}a.my_account{display:none}#data{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;position:absolute;top:0;bottom:0;right:0;width:71%;margin-right:2%;height:100%;color:#111;z-index:4;background:url("/assets/white-4ee01c7734ea119d3e24773191ea3430.jpg");-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;-moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0}#data div.nav{width:125px;-webkit-box-flex:none;-webkit-flex:none;-moz-box-flex:none;-moz-flex:none;-ms-flex:none;flex:none;padding:0 15px;background:url("/assets/blue-d068063b41718a921083177bb74496e4.jpg");-webkit-border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;border-top-left-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-bottomleft:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-box-shadow:inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.1) -1px -1px 0;-moz-box-shadow:inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.1) -1px -1px 0;box-shadow:inset rgba(255,255,255,0.25) 0 1px 0,inset rgba(0,0,0,0.1) -1px -1px 0;text-shadow:#fff 0 1px 0;overflow:auto}#data div.nav h2{font-size:15px;font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
                                                                                                                                                                                                        font-weight: 100;color:#515F73;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:45px;-webkit-font-smoothing:antialiased}#data div.nav li{list-style:none}#data div.nav li a{line-height:23px;padding:0 0 0 10px;height:25px;color:#111;text-decoration:none;display:block;-moz-transition:opacity 0.2s linear;-o-transition:opacity 0.2s linear;-webkit-transition:opacity 0.2s linear;-ms-transition:opacity 0.2s linear;transition:opacity 0.2s linear;opacity:0.6}#data div.nav li a:hover{opacity:1}#data div.nav li.current a{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:rgba(186,211,231,0.8);-webkit-box-shadow:inset #fff 0 -1px 0,inset rgba(0,0,0,0.2) 0 1px 0;-moz-box-shadow:inset #fff 0 -1px 0,inset rgba(0,0,0,0.2) 0 1px 0;box-shadow:inset #fff 0 -1px 0,inset rgba(0,0,0,0.2) 0 1px 0;opacity:1}h1,h2,h3{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif}#top_content{margin:25px 0}div.info,div.totals{float:left;margin:0 0 15px;-webkit-font-smoothing:antialiased}div.info h2,div.totals h2{font-size:24px;line-height:1;color:#222}div.info p,div.totals p{font-size:15px;color:#777}div.info p strong,div.totals p strong{color:#222}#account,#plan{padding:15px;clear:both;overflow:hidden}td.meta{width:36px;padding:5px 0 5px 6px !important}span.technology{display:block;height:12px;width:28px}span.technology span{display:block;float:left;width:12px;height:12px;opacity:0.6}span.technology span.platform{margin-right:4px}span.technology span.android{background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.android{background-image:url("/assets/icons/android@2x-c3b84cdf86d4c025af7161458bcaf580.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.chrome{background-image:url("/assets/icons/chrome-67b4b90bfa9c691f1df9415e2ba081e4.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.chrome{background-image:url("/assets/icons/chrome@2x-7724a9a05862ed576bae7ec4c9f9674a.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.firefox{background-image:url("/assets/icons/firefox-f076ea005da0d56ff99f9b6a3d4f9527.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.firefox{background-image:url("/assets/icons/firefox@2x-38f09a5172216ffa8fb7604856628dec.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.ie{background-image:url("/assets/icons/ie-f1084cfab2db5c6d692d8ff692445a90.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.ie{background-image:url("/assets/icons/ie@2x-833c92d0ed73c58a0d1fd6c5d1273c20.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.ipad{background-image:url("/assets/icons/ipad-41804364ad3d6dfc5168ffda4b4076a9.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.ipad{background-image:url("/assets/icons/ipad@2x-1eb25450252c5cf2e620b59659eedf47.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.ipod{background-image:url("/assets/icons/ipod-52b6a05ec5b31d6b18cb31d771d67f2a.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.ipod{background-image:url("/assets/icons/ipod@2x-81256fdb03cc77280680386647216b91.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.iphone{background-image:url("/assets/icons/iphone-c971c52a8493e1bcd94f0bef1cfc2e70.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.iphone{background-image:url("/assets/icons/iphone@2x-be1b91b44c6f210f343cd0a1a573dc73.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.linux{background-image:url("/assets/icons/linux-2b4a0a01f11feb8f55e6f2144e35b62d.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.linux{background-image:url("/assets/icons/linux@2x-18a62a29b044495b2a6ab88b75537a44.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.macintosh{background-image:url("/assets/icons/macintosh-fad1bb984a99ecaa331f9c67bf23ad0d.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.macintosh{background-image:url("/assets/icons/macintosh@2x-3f8286f3f5cde90e67b1bf90d9e446e4.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.opera{background-image:url("/assets/icons/opera-7c0f86ad5cf671630aa08c060b04648d.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.opera{background-image:url("/assets/icons/opera@2x-3b92deaa06d63fd5c61a1dd4284e3288.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.windows{background-image:url("/assets/icons/windows-5267646e593180d1fbe755d4a2fb2e64.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.windows{background-image:url("/assets/icons/windows@2x-099bcceb0cd6554a0a5b51bf5c13fa40.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.playstation{background-image:url("/assets/icons/playstation-d5abc14c039c7a865f42c4d75aa40de2.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.playstation{background-image:url("/assets/icons/playstation@2x-0a431df2d1dd23de1a387e2a437792e4.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.safari{background-image:url("/assets/icons/safari-4f6901564f167dd14da720e62006870d.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.safari{background-image:url("/assets/icons/safari@2x-1c18b423b1615d1f643253edf382b648.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.wii{background-image:url("/assets/icons/wii-d19349d1b8139645800a1ef2c5e21419.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.wii{background-image:url("/assets/icons/wii@2x-03e55da4ab61f6439380fb5760ac653d.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.other{background-image:url("/assets/icons/other.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.other{background-image:url("/assets/icons/other@2x.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.chrome_ios{background-image:url("/assets/icons/mobile.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.chrome_ios{background-image:url("/assets/icons/mobile@2x.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.safari_ios{background-image:url("/assets/icons/safari-4f6901564f167dd14da720e62006870d.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.safari_ios{background-image:url("/assets/icons/safari@2x-1c18b423b1615d1f643253edf382b648.png");-webkit-background-size:12px 12px;background-size:12px 12px}}span.technology span.ie_mobile{background-image:url("/assets/icons/ie-f1084cfab2db5c6d692d8ff692445a90.png");background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){span.technology span.ie_mobile{background-image:url("/assets/icons/ie@2x-833c92d0ed73c58a0d1fd6c5d1273c20.png");-webkit-background-size:12px 12px;background-size:12px 12px}}div.pin span.technology{float:right;margin-top:3px;margin-right:-4px}.browserslist_link{margin-top:6px}.clickable{cursor:pointer}.map_links{display:inline-block;background:#fff url("/assets/white-4ee01c7734ea119d3e24773191ea3430.jpg");border:1px solid #ccc;border-bottom:none;position:absolute;bottom:-1px;right:15px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px;border-top-left-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.map_links a{padding:0 6px;color:#777;text-decoration:none;border-left:1px solid #ccc}.map_links a:first-child{border-left:0}.show_map{border:1px solid #ccc;border-top:none;top:1px;bottom:auto;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;border-top-right-radius:0;border-top-left-radius:0;-moz-border-radius-topleft:0;-moz-border-radius-topright:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}div.with_map div.info{display:none}div.with_map div.totals{display:none}div.pin{position:absolute;width:1px;height:1px}div.pin:hover{z-index:3000 !important}div.pin div.pin_icon{top:-102px;width:13px;height:29px;opacity:0;background-image:url("/assets/pinsprite-2219e0c5d22b202ce2830a8d48638530.png");background-repeat:no-repeat;position:absolute;left:-5px;z-index:2;-webkit-transform:rotateZ(0);-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){div.pin div.pin_icon{background-image:url("/assets/pinsprite@2x-255728f74eea732f7b04f2982c137c77.png");-webkit-background-size:130px 22px;background-size:130px 22px}}.blips div.pin div.pin_icon{top:-13px;background-image:url("/assets/blips-481581149dc690917fea9f317ceea620.png")}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){.blips div.pin div.pin_icon{background-image:url("/assets/blips@2x-879fa0fcb8a3cc60cb7d11b855f2f341.png");-webkit-background-size:130px 22px;background-size:130px 22px}}div.pin img.ring{-webkit-transform:scale(0.1) translate3d(0, 0, 0);-moz-transform:scale(0.1) translate3d(0, 0, 0);transform:scale(0.1) translate3d(0, 0, 0);position:absolute;left:-31px;top:-34px;width:60px;height:60px;z-index:3;visibility:visible;display:none;-webkit-transition-property:-webkit-transform, opacity, visibility;-webkit-transition-duration:2s, 0.5s, 0;-webkit-transition-timing-function:ease-out, ease-in, ease-out;-webkit-transition-delay:0, 1s, 2.05s;-moz-transition:visibility 0.1s linear 2.05s, opacity 0.5s ease-in 1.0s, -moz-transform 2.0s ease-out;transition-property:transform, opacity, visibility;transition-duration:2s, 0.5s, 0;transition-timing-function:ease-out, ease-out, ease-out, ease-out, ease-in, ease-out;transition-delay:0, 0, 0, 0, 1s, 2.05s}.blips div.pin img.ring{display:block}div.pin div.info{width:250px;font-size:15px;position:absolute;visibility:hidden;left:-126px;bottom:20px;opacity:0;-webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.15) 0 0 0 1px,inset rgba(255,255,255,0) 0 1px 0,inset rgba(0,0,0,0) 0 -1px 0;-moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.15) 0 0 0 1px,inset rgba(255,255,255,0) 0 1px 0,inset rgba(0,0,0,0) 0 -1px 0;box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.15) 0 0 0 1px,inset rgba(255,255,255,0) 0 1px 0,inset rgba(0,0,0,0) 0 -1px 0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;transition-property:visibility, opacity, bottom;transition-duration:0, 0.2s, 0.2s;transition-timing-function:ease-out;transition-delay:0.3s, 0.05s, 0.05s;-webkit-transition-property:visibility, opacity, bottom;-webkit-transition-duration:0, 0.2s, 0.2s;-webkit-transition-timing-function:ease-out;-webkit-transition-delay:0.3s, 0.05s, 0.05s;-moz-transition:all 0.2s ease-in;-webkit-transform:rotateZ(0)}div.pin div.info:after{content:'';position:absolute;top:100%;left:50%;margin:-1px 0 0 -4px;background:url("/assets/tag-e4fcd28646c9b953bb05ed9870dc118f.png") no-repeat;width:9px;height:7px}@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){div.pin div.info:after{width:6px;height:6px;margin-top:-2px;border-right:1px solid #606060;border-bottom:1px solid #606060;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-box-shadow:rgba(0,0,0,0.5) 1px 1px 1px;-moz-box-shadow:rgba(0,0,0,0.5) 1px 1px 1px;box-shadow:rgba(0,0,0,0.5) 1px 1px 1px;background:#E3E3E3}}div.pin div.info div.site{background:#545454 url("/assets/grey-52e74cad092cff4c017a44da2d3e8431.jpg");-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;border-top-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;line-height:24px;color:#ccc;font-weight:bold;padding:0 5px;position:relative;border-bottom:1px solid #333;-webkit-background-clip:padding-box}div.pin div.info div.site img{vertical-align:middle;margin-top:-4px;margin-right:4px}div.pin div.info div.site a.close{position:absolute;right:0;top:0;bottom:0;width:24px;background-image:url("/assets/close-81cea1ea39c08ed3f983b37392a637e6.png");background-repeat:no-repeat;background-position:center;text-indent:-9999px;overflow:hidden}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){div.pin div.info div.site a.close{background-image:url("/assets/close@2x-24befa9af1ac9b9c4242bd10f87c6a2d.png");-webkit-background-size:9px 9px;background-size:9px 9px}}div.pin div.info div.hit{padding:8px 10px;background:#efefef url("/assets/white-4ee01c7734ea119d3e24773191ea3430.jpg");overflow:hidden}div.pin div.info div.hit p{margin:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%}div.pin div.info div.hit a{text-decoration:none;color:#777}div.pin div.info div.hit p.referrer{font-weight:9px;color:#aaa}div.pin div.info div.hit p.referrer a{color:#777;text-decoration:none}div.pin div.info div.hit p.referrer a:hover{color:#444}div.pin div.info div.location{background:#E3E3E3;border-top:1px solid #ccc;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;padding:0 10px;font-size:15px;color:#555;line-height:18px}div.pin.shown div.pin_icon{top:-22px;opacity:1}.blips div.pin.shown div.pin_icon{top:-13px}.blips div.pin.shown img.ring{-webkit-transform:scale(1);opacity:0;visibility:hidden}div.pin.showinfo div.info{opacity:1;visibility:visible;bottom:12px;-webkit-transition-property:visibility, opacity, bottom;-webkit-transition-duration:0, 0.2s, 0.2s;-webkit-transition-timing-function:ease-out;-webkit-transition-delay:0, 0.05s, 0.05s;transition-property:visibility, opacity, bottom;transition-duration:0, 0.2s, 0.2s;transition-timing-function:ease-out;transition-delay:0, 0.05s, 0.05s}.blips div.pin.showinfo div.info{bottom:3px}#full_map{position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000}#full_map div.buttons{position:absolute;top:0;right:13px}#full_map .toolbar.top{text-align:center;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:url("/assets/grey-52e74cad092cff4c017a44da2d3e8431.jpg");color:#ccc;height:53px;line-height:53px;text-shadow:#000 0 1px 0}#full_map .toolbar.top p{font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:24px;font-weight:100}#full_map .toolbar.top h1{position:absolute;left:15px;top:2px;width:100px;margin:10px 0}#full_map .toolbar.top .button{background-color:#333333;background-image:-moz-linear-gradient(top, #333, #111);background-image:-ms-linear-gradient(top, #333, #111);background-image:-o-linear-gradient(top, #333, #111);background-image:-webkit-gradient(linear, left top, left bottom, from(#333), to(#111));background-image:-webkit-linear-gradient(top, #333, #111);background-image:linear-gradient(to bottom, #333, #111);opacity:1;float:right;position:relative;margin:13px 0 13px 13px;padding:0 8px;text-indent:-9999px;overflow:hidden}#full_map .toolbar.top .button.disabled{opacity:0.3}#full_map .toolbar.top a.button{width:21px}#full_map .toolbar.top .flipswitch{width:76px;padding:0;position:relative}#full_map .toolbar.top .flipswitch a{float:left;width:21px;padding:0 8px}#full_map .toolbar.top .flipswitch a+a{padding-left:9px;background:url("/assets/button_divider-79c5d232dc02867ad071e84d705f1251.png") no-repeat 0 50%}#full_map .toolbar.top .button span{display:block;width:27px;margin:0 -3px;height:27px;text-indent:27px;overflow:hidden;background-repeat:no-repeat}#full_map .toolbar.top .lights span{background-image:url("/assets/icon_day-5be8cf40ac76afbd84199225a7b92d71.png");background-position:50% 1px}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){#full_map .toolbar.top .lights span{background-image:url("/assets/icon_day@2x-b4d4d6716b54af41a59dcf0d451d23ce.png");-webkit-background-size:29px 54px;background-size:29px 54px}}#full_map .toolbar.top .info span{background-image:url("/assets/icon_info-3f98a9b2ffdb3eab5c6574e7cbf53c93.png");background-position:50% -27px}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){#full_map .toolbar.top .info span{background-image:url("/assets/icon_info@2x-b3e001ee9dddea00756a6e42b7bd82c5.png");-webkit-background-size:29px 54px;background-size:29px 54px}}#full_map .toolbar.top .pins span{background-image:url("/assets/icon_pin-117376cff70d332410b5e58e2be548f9.png");background-position:50% 0}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){#full_map .toolbar.top .pins span{background-image:url("/assets/icon_pin@2x-2857912ae349c304d0d451069197d103.png");-webkit-background-size:29px 54px;background-size:29px 54px}}#full_map .toolbar.top .blips span{background-image:url("/assets/icon_ring-7376c947ed5172e42a205cf7fe439f51.png");background-position:50% -28px}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){#full_map .toolbar.top .blips span{background-image:url("/assets/icon_ring@2x-1b1d09b4c100e8d926369a22d134b156.png");-webkit-background-size:29px 54px;background-size:29px 54px}}#full_map .toolbar.top a.settings:before{content:'';position:absolute;left:0;right:0;top:0;bottom:0;background:url("/assets/gear-e17fef81c13b657c656bd9e5fb109750.png") no-repeat center}#full_map .toolbar.top a.close{position:static}#full_map .toolbar.top div.state{position:absolute;white-space:nowrap;right:0;left:0;top:0;padding:0 13px}#full_map .toolbar.top div.edit a.button{position:static;margin:13px 0;float:right}#full_map #full_map_frame{position:absolute;top:53px;left:0;right:0;bottom:0;background:#c3d3e0;overflow:hidden}#full_map #full_map_wrapper{position:absolute;top:0;left:0;width:100%}#full_map.dark .toolbar.top .lights span{background-position:50% -26px}#full_map.dark #full_map_frame{background:#181818}#full_map.showinfo .toolbar.top .info span{background-position:50% 0}#full_map.blips .toolbar.top .pins span{background-position:50% -27px}#full_map.blips .toolbar.top .blips span{background-position:50% 1px}div.map_label{text-align:left;display:inline-block;padding:0 10px;line-height:22px;z-index:1000;background:#fff;background:rgba(255,255,255,0.8);color:#777;position:absolute;bottom:10px;left:10px}div.map_label strong{color:#333}.dark div.map_label{background:rgba(0,0,0,0.8);color:#ccc}.dark div.map_label strong{color:#fff}#site_content{-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;-moz-flex:1;-ms-flex:1;flex:1;height:100%;position:relative;overflow-x:hidden;overflow-y:auto}#site_content #map_wrapper{position:absolute;top:44px;left:0;right:0;z-index:9;border-bottom:1px solid #ddd}#site_content #map{z-index:9}#site_content #map canvas{display:block}#site_content div.display{padding:15px;position:absolute;overflow-y:auto;overflow-x:hidden;top:43px;bottom:43px;left:0;right:0;z-index:10}#site_content div.display.with_map{top:352px}#site_content div.empty{background:#f4f4f4;background:rgba(0,0,0,0.05);text-align:center;color:#777;text-shadow:#fff 0 1px 1px;padding:10px 15px;margin:0 0 10px;font-size:15px;clear:both;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}#site_content div.empty a{color:#396}#site_content span.secondary{display:block;margin:-5px 0 0;font-size:15px;color:#999}#site_content span.secondary strong{color:#666;font-weight:normal}#site_content .live_info{padding-top:20px}#site_content span.location{display:block;font-size:15px;color:#999;margin:-5px 0 0}#site_content span.location strong{color:#666;font-weight:normal}#site_content table{width:100%;font-size:11px;color:#999;text-shadow:#fff 0 1px 1px;clear:both}#site_content table+table{margin-top:20px}#site_content table th{font-weight:bold;text-align:right;padding:0 10px;line-height:20px;-webkit-font-smoothing:antialiased}#site_content table tr{opacity:1;-webkit-transition:opacity 0.4s linear;-moz-transition:opacity 0.4s linear}#site_content table tr.off{opacity:0}#site_content table td{padding:0 10px;line-height:20px;padding-bottom:1px;text-align:right;white-space:nowrap;vertical-align:top;position:relative}#site_content table td.full-width{width:100%}#site_content table td label{font-weight:normal;color:#333}#site_content table td>a{position:absolute;left:10px;right:0;top:0}#site_content table td a{display:inline-block;overflow:hidden;text-overflow:ellipsis;color:#999;font-weight:normal;text-decoration:none;-webkit-font-smoothing:antialiased}#site_content table td a strong{color:#222}#site_content table td a.button{position:static}#site_content table td.focus{color:#222;text-align:right}#site_content table th.text,#site_content table td.text{text-align:left}#site_content table th.checkbox,#site_content table td.checkbox{width:12px;text-align:center}#site_content table .loading th.checkbox,#site_content table .loading td.checkbox{background:url("/assets/loading-b5fdfab7ef3c34fd85a520afbca74778.gif") no-repeat center center}#site_content table .loading th.checkbox input,#site_content table .loading td.checkbox input{display:none}#site_content table td.bar{width:160px;padding:0;height:20px}#site_content table td.bar div.bar_holder{position:relative;height:20px}#site_content table td.bar div.bar_holder div{position:absolute;height:20px;top:0;left:0;-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}#site_content table td.bar div.bar_holder div.visitors,#site_content table td.bar div.bar_holder div.views{background:url("/assets/bar-8d34c0c0ce51e147e89d032f4c02f253.png") top left}#site_content table td.vertical-bar-holder{padding-right:1px}#site_content table div.vertical-bar{margin-top:5px;width:100%;height:13px;position:relative;background:rgba(0,0,0,0.1);-webkit-box-shadow:inset #fff 0 -1px 0,inset rgba(0,0,0,0.1) 0 1px 0;-moz-box-shadow:inset #fff 0 -1px 0,inset rgba(0,0,0,0.1) 0 1px 0;box-shadow:inset #fff 0 -1px 0,inset rgba(0,0,0,0.1) 0 1px 0;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}#site_content table div.vertical-bar div{background-color:#339966;background-image:-moz-linear-gradient(top, #396, #31654b);background-image:-ms-linear-gradient(top, #396, #31654b);background-image:-o-linear-gradient(top, #396, #31654b);background-image:-webkit-gradient(linear, left top, left bottom, from(#396), to(#31654b));background-image:-webkit-linear-gradient(top, #396, #31654b);background-image:linear-gradient(to bottom, #396, #31654b);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;height:8px;position:absolute;top:2px;left:2px;-webkit-box-shadow:inset rgba(255,255,255,0.2) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;-moz-box-shadow:inset rgba(255,255,255,0.2) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0;box-shadow:inset rgba(255,255,255,0.2) 0 1px 0,inset rgba(0,0,0,0.1) 0 -1px 0}#site_content table div.vertical-bar div.incomplete{-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;-moz-border-radius-topright:0;-moz-border-radius-bottomright:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}#site_content table div.vertical-bar div.incomplete.partial{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}#site_content table div.vertical-bar div.partial{-webkit-border-top-left-radius:0;-webkit-border-bottom-left-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;-moz-border-radius-topleft:0;-moz-border-radius-bottomleft:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;min-width:4px;background-color:#51d76e;background-image:-moz-linear-gradient(top, #51d76e, #2abb49);background-image:-ms-linear-gradient(top, #51d76e, #2abb49);background-image:-o-linear-gradient(top, #51d76e, #2abb49);background-image:-webkit-gradient(linear, left top, left bottom, from(#51d76e), to(#2abb49));background-image:-webkit-linear-gradient(top, #51d76e, #2abb49);background-image:linear-gradient(to bottom, #51d76e, #2abb49)}#site_content table div.vertical-bar.mid div{background-color:#d2af25;background-image:-moz-linear-gradient(top, #d2af25, #b89920);background-image:-ms-linear-gradient(top, #d2af25, #b89920);background-image:-o-linear-gradient(top, #d2af25, #b89920);background-image:-webkit-gradient(linear, left top, left bottom, from(#d2af25), to(#b89920));background-image:-webkit-linear-gradient(top, #d2af25, #b89920);background-image:linear-gradient(to bottom, #d2af25, #b89920)}#site_content table div.vertical-bar.mid div.partial{background-color:#e6d076;background-image:-moz-linear-gradient(top, #e6d076, #dfc14b);background-image:-ms-linear-gradient(top, #e6d076, #dfc14b);background-image:-o-linear-gradient(top, #e6d076, #dfc14b);background-image:-webkit-gradient(linear, left top, left bottom, from(#e6d076), to(#dfc14b));background-image:-webkit-linear-gradient(top, #e6d076, #dfc14b);background-image:linear-gradient(to bottom, #e6d076, #dfc14b)}#site_content table div.vertical-bar.low div{background-color:#d26425;background-image:-moz-linear-gradient(top, #d26425, #b75720);background-image:-ms-linear-gradient(top, #d26425, #b75720);background-image:-o-linear-gradient(top, #d26425, #b75720);background-image:-webkit-gradient(linear, left top, left bottom, from(#d26425), to(#b75720));background-image:-webkit-linear-gradient(top, #d26425, #b75720);background-image:linear-gradient(to bottom, #d26425, #b75720)}#site_content table div.vertical-bar.low div.partial{background-color:#e69f76;background-image:-moz-linear-gradient(top, #e69f76, #df814b);background-image:-ms-linear-gradient(top, #e69f76, #df814b);background-image:-o-linear-gradient(top, #e69f76, #df814b);background-image:-webkit-gradient(linear, left top, left bottom, from(#e69f76), to(#df814b));background-image:-webkit-linear-gradient(top, #e69f76, #df814b);background-image:linear-gradient(to bottom, #e69f76, #df814b)}#site_content table td.weekend div.bar_holder div.visitors,#site_content table td.weekend div.bar_holder div.views{background:url("/assets/bar_we-238ce4d19361107448d7f049a5a06760.png") top left}#site_content table tr:nth-child(even),#site_content table tr.odd{background:rgba(0,102,204,0.05)}#site_content table tr.even{background:none}#site_content table tr.top{border-top:1px solid transparent;cursor:default}#site_content table tr.open{background:none;border-top:1px solid #ccc}#site_content table tr.open td.toggle{background-image:url("/assets/arrow_open-00fd2e19c8337f57d49449901b5576e9.png")}#site_content table tr.alt td.bar{background:none}#site_content table tbody.version tr.odd{background:#efefef;background:rgba(0,0,0,0.04)}#site_content table tbody.version tr:last-child{border-bottom:1px solid #ccc}#site_content table.live_traffic tbody tr:nth-child(odd){background:#EAF0F5;background:rgba(0,102,204,0.05)}#site_content table.live_traffic tbody tr:nth-child(even){background:none}#site_content table.live_traffic span.secondary{position:relative;height:20px}#site_content table.live_traffic span.secondary a{position:absolute;left:0;right:0}#site_content div.legend table{width:auto}#site_content div.legend table td{text-align:left;padding:0 10px;background:#fff !important;background:rgba(255,255,255,0.8) !important;color:#777}#site_content div.legend table td strong{color:#333}#site_content div.totals{float:right;text-align:right}#site_content h5{background:rgba(0,102,204,0.05);color:#666;font-size:11px;padding:0 5px;line-height:17px;display:inline-block;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}#site_content div.today{margin:0 0 30px;float:left}#site_content div.today h1{font-size:70px;line-height:1;color:#222}#site_content div.today p{font-size:11px;color:#777}#site_content div.today p strong{color:#222}#site_content div.charts{width:182px;height:85px}#site_content div.charts div.bar{float:right;border-left:1px solid transparent;width:25px;height:85px;position:relative;-webkit-transition:0.15s linear;cursor:default}#site_content div.charts div.bar div{position:absolute;width:25px;bottom:0;left:0;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;border-top-left-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}#site_content div.charts div.bar div.visitors,#site_content div.charts div.bar div.views{background:url("/assets/bar-8d34c0c0ce51e147e89d032f4c02f253.png") bottom left}#site_content div.charts div.bar div.date{text-align:center;padding:0 0 5px;font-size:13px;font-weight:bold;color:#333;color:rgba(0,0,0,0.5);line-height:1}#site_content div.charts div.weekend div.visitors,#site_content div.charts div.weekend div.views{background:url("/assets/bar_we-238ce4d19361107448d7f049a5a06760.png") bottom left}#site_content div.charts:hover div.bar{opacity:0.6}#site_content div.charts:hover div.bar:hover{opacity:1}#site_content div.hours{position:absolute;right:15px;top:15px;height:110px}#site_content div.hours td{padding-bottom:0}#site_content div.graph{margin:0 0 15px;height:200px;clear:both}#site_content div.pie{height:400px;margin:0 0 20px}.hidden{display:none}table span.substat{color:#999}#site_content table tr.version td.focus{color:#797979}#site_content table tr td.toggle{padding-left:24px}table tr.top td.toggle{background:url("/assets/arrow_closed-a12590b0619e9e2f4eaaa02036cac798.png") no-repeat 8px 50%}#site_content table tr.version td.version{padding-left:68px}#site_content table.locations tr.version td.version{padding-left:38px}span.swatch{display:inline-block;width:20px;height:12px;border:1px solid #fff;margin:-2px 8px 0 0;vertical-align:middle}#site_content div.toolbar h5{float:right;background:none;color:#222;line-height:43px;font-weight:normal;color:#999}#site_content div.toolbar h5 strong{color:#396}#site_content div.pricing table{width:100%;border-collapse:collapse;margin:0 0 15px}#site_content div.pricing .price{vertical-align:top;-webkit-font-smoothing:antialiased;text-align:left}#site_content div.pricing .price h5{font-size:11px;margin:0 0 0 -15px;font-weight:normal}#site_content div.pricing .price h5 strong{font-size:100%;letter-spacing:0;font-weight:bold}#site_content div.pricing td{padding:8px 15px;font-size:11px;color:#222;text-align:left;line-height:25px}#site_content div.pricing td em{color:#999}#site_content div.pricing tr:nth-child(odd) td{background:none}#site_content div.pricing tr.extra strong{color:#396;-webkit-font-smoothing:antialiased}#site_content div.pricing a:hover{opacity:1}#site_content div.pricing table tr td a.button{width:50px !important;text-align:center;color:#fff;font-weight:bold}#site_content div.pricing div.toolbar{padding-left:12px}#site_content div.pricing div.toolbar a.button{float:left;margin:7px 0}#site_content div.pricing div.toolbar span{float:right;font-weight:normal;margin:0 7px 0 0}#site_content div.pricing div.defered{font-weight:normal;font-style:italic;color:#999;text-align:center;background:#f4f4f4;background:rgba(0,0,0,0.05);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;line-height:27px}form.add_share label,form.add_client label{display:inline;width:auto;text-align:left}form.add_share input,form.add_client input{vertical-align:middle}form.add_share button span,form.add_client button span{height:25px;margin:0 0 0 10px;line-height:23px;vertical-align:middle}form.add_share strong.error_explanation,form.add_client strong.error_explanation{display:block;padding-left:85px;color:#911}div.toolbar{height:43px;background-color:#f7f7f7;background-image:-moz-linear-gradient(top, #f7f7f7, #ededed);background-image:-ms-linear-gradient(top, #f7f7f7, #ededed);background-image:-o-linear-gradient(top, #f7f7f7, #ededed);background-image:-webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#ededed));background-image:-webkit-linear-gradient(top, #f7f7f7, #ededed);background-image:linear-gradient(to bottom, #f7f7f7, #ededed);position:absolute;left:0;right:0;z-index:9;text-align:center;line-height:43px;font-weight:bold;font-size:11px;text-shadow:#fff 0 0 1px;-webkit-font-smoothing:antialiased;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box}div.toolbar li{list-style:none}div.toolbar ul.pagination a{display:block;height:43px;width:45px;position:absolute;top:0;text-indent:-9999px;overflow:hidden;opacity:0.8}div.toolbar ul.pagination a:hover{opacity:1}div.toolbar ul.pagination li.previous a{border-right:1px solid #CFD3DA;border-color:rgba(0,0,0,0.1);left:0;background-image:url("/assets/left-8dfe5e1e54fc21b2288c191391a4ac45.png");background-repeat:no-repeat;background-position:center}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){div.toolbar ul.pagination li.previous a{background-image:url("/assets/left@2x-cf83b8c5f60d3284000485adf3910f22.png");-webkit-background-size:13px 14px;background-size:13px 14px}}div.toolbar ul.pagination li.next a{border-left:1px solid #CFD3DA;border-color:rgba(0,0,0,0.1);right:0;background-image:url("/assets/right-0e535a78fa489705a2b8ab52dce5feda.png");background-repeat:no-repeat;background-position:center}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){div.toolbar ul.pagination li.next a{background-image:url("/assets/right@2x-d07803673ed2b2c8309122c3127ee186.png");-webkit-background-size:13px 14px;background-size:13px 14px}}div.toolbar ul.pagination li a.loading{background-image:url("/assets/refreshing-d0b9028bc3d282c78472f0f6494cdb08.gif")}div.toolbar ul.group_options{text-align:center}div.toolbar ul.group_options li{display:inline-block;padding:10px 0}div.toolbar ul.group_options li a{display:block;-webkit-border-radius:11px;-moz-border-radius:11px;border-radius:11px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;padding:0 15px;line-height:23px;color:#777;font-weight:bold;text-shadow:#fff 0 1px 1px;text-decoration:none}div.toolbar ul.group_options li a:hover{color:#333}div.toolbar ul.group_options li.current a{background:#6F82A9;-webkit-box-shadow:inset rgba(0,0,0,0.6) 0 1px 1px;color:#fff;text-shadow:#222 0 1px 1px}div.toolbar p.secondary{float:left;padding-left:12px}div.toolbar p.secondary a{text-decoration:none;color:#222;opacity:0.7}div.toolbar p.secondary a:hover{opacity:1}div.toolbar p.delete a{color:#911}div.toolbar.top{border-bottom:1px solid #CFD3DA;border-color:rgba(0,0,0,0.1);-webkit-border-top-right-radius:6px;border-top-right-radius:6px;-moz-border-radius-topright:6px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;text-align:left;padding:0 15px}div.toolbar.options{text-align:center}div.toolbar.buttons{text-align:right;padding:0 8px}div.toolbar.bottom{border-top:1px solid #CFD3DA;border-color:rgba(0,0,0,0.1);-webkit-border-bottom-right-radius:6px;border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}div.toolbara.refresh{position:absolute;top:0;right:0;width:45px;height:43px;display:block;background-image:url("/assets/refresh-90c60d241836481aa57a239ea1c1b2ee.png");background-repeat:no-repeat;background-position:center;text-indent:-9999px;overflow:hidden;z-index:100}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){a.refresh{background-image:url("/assets/refresh@2x-6a4c6e755614a7b951fd782d829b0717.png");-webkit-background-size:16px 16px;background-size:16px 16px}}a.refresh span{display:block;width:26px;height:23px;text-indent:-9999px;overflow:hidden}a.refreshing{background-image:url("/assets/refreshing-d0b9028bc3d282c78472f0f6494cdb08.gif")}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){a.refreshing{background-image:url("/assets/refreshing@2x-06b5897ef1c30cae776645888c053a4e.gif");-webkit-background-size:16px 16px;background-size:16px 16px}}div#site_content div.toolbar.delete{display:none}div#site_content.delete div.toolbar.delete{display:block}div#site_content.delete div.toolbar.edit{display:none}td.legendColorBox{display:none}div.pie td.legendColorBox{display:block;padding:2px 0 2px 5px !important}div.legend table tr{background:none !important}div.legend table tr td{padding:2px 5px}div.toolbar.top{border-bottom:1px solid #CFD3DA;border-color:rgba(0,0,0,0.1);top:0;-webkit-border-top-right-radius:7px;border-top-right-radius:7px;-moz-border-radius-topright:7px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}div.toolbar.bottom{border-top:1px solid #CFD3DA;border-color:rgba(0,0,0,0.1);bottom:0;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}#feedback,#new_site{visibility:hidden}.loading_indicator{width:84px;height:84px;margin:0 auto;background:url("/assets/mark-559783a4823acf4d55ac0e851a4b7060.png") no-repeat;-webkit-transition:0.2s linear;position:absolute;top:50%;left:50%;margin:-42px 0 0 -42px}.loading_indicator div{position:absolute;top:18px;left:19px;width:46px;height:46px;background:url("/assets/loader-94432280da161ea9f6627f821211b0a8.gif") no-repeat center;text-indent:-9999px}.loading_indicator em{display:none}body.adding #new_site{visibility:visible}body.adding #new_site div.dialog{opacity:1}body.adding #new_site div.upgrade{display:none}body.adding.first-gauge #new_site:not(.upgrade) .button.cancel{display:none}body.adding #new_site.upgrade form{display:none}body.adding #new_site.upgrade div.upgrade{display:block}#password_reset_sent{position:absolute;z-index:0;top:50%;left:50%;width:240px;padding:30px;margin:-100px 0 0 -150px;overflow:hidden;-webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;-moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;background-color:#393939;background-image:-moz-linear-gradient(top, #393939, #262626);background-image:-ms-linear-gradient(top, #393939, #262626);background-image:-o-linear-gradient(top, #393939, #262626);background-image:-webkit-gradient(linear, left top, left bottom, from(#393939), to(#262626));background-image:-webkit-linear-gradient(top, #393939, #262626);background-image:linear-gradient(to bottom, #393939, #262626);-webkit-font-smoothing:antialiased;-moz-transition:opacity 0.2s linear;-o-transition:opacity 0.2s linear;-webkit-transition:opacity 0.2s linear;-ms-transition:opacity 0.2s linear;transition:opacity 0.2s linear;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;opacity:0;visibility:hidden}#password_reset_sent p.instructions{padding:15px 0 0}#password_reset_sent a{text-decoration:none;color:#396}#password_reset_sent a:hover{color:#222}#forgot_password{position:absolute;z-index:0;top:50%;left:50%;width:240px;padding:30px;margin:-130px 0 0 -150px;-webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;-moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;background-color:#393939;background-image:-moz-linear-gradient(top, #393939, #262626);background-image:-ms-linear-gradient(top, #393939, #262626);background-image:-o-linear-gradient(top, #393939, #262626);background-image:-webkit-gradient(linear, left top, left bottom, from(#393939), to(#262626));background-image:-webkit-linear-gradient(top, #393939, #262626);background-image:linear-gradient(to bottom, #393939, #262626);-webkit-font-smoothing:antialiased;-moz-transition:opacity 0.2s linear;-o-transition:opacity 0.2s linear;-webkit-transition:opacity 0.2s linear;-ms-transition:opacity 0.2s linear;transition:opacity 0.2s linear;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;overflow:hidden;opacity:0;visibility:hidden}

#forgot_password form{width:240px;float:left}
#forgot_password form label{float:none;width:auto;line-height:1.5;text-align:left}#forgot_password form p.submit{padding-top:5px}#forgot_password button{float:right}
#forgot_password p.text input{width:228px}#forgot_password p.submit{width:240px}#forgot_password a{line-height:28px}

#signup{
    position:absolute;
    z-index:4;top:30%;
    left:50%;width:300px;
    padding:30px;margin:-170px 0 0 -150px;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;-moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;background-color:#393939;background-image:-moz-linear-gradient(top, #393939, #262626);background-image:-ms-linear-gradient(top, #393939, #262626);background-image:-o-linear-gradient(top, #393939, #262626);background-image:-webkit-gradient(linear, left top, left bottom, from(#393939), to(#262626));background-image:-webkit-linear-gradient(top, #393939, #262626);background-image:linear-gradient(to bottom, #393939, #262626);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;overflow:hidden;-webkit-font-smoothing:antialiased;-webkit-transition:opacity 0.2s linear}
#signup form{width:300px;float:left}
#signup form label{float:none;width:auto;line-height:1.5;text-align:left}

#signup form strong.error_explanation{color:#fcc}#signup button span{width:220px}#signup p.text input{width:228px}#signup p.submit{padding-top:5px}#signin{position:absolute;z-index:5;top:50%;left:50%;width:240px;padding:25px 30px 30px;margin:-120px 0 0 -150px;-webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;-moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.15) 0 1px 0,inset rgba(0,0,0,0.25) 0 -1px 0;background-color:#393939;background-image:-moz-linear-gradient(top, #393939, #262626);background-image:-ms-linear-gradient(top, #393939, #262626);background-image:-o-linear-gradient(top, #393939, #262626);background-image:-webkit-gradient(linear, left top, left bottom, from(#393939), to(#262626));background-image:-webkit-linear-gradient(top, #393939, #262626);background-image:linear-gradient(to bottom, #393939, #262626);-webkit-font-smoothing:antialiased;-moz-transition:opacity 0.2s linear;-o-transition:opacity 0.2s linear;-webkit-transition:opacity 0.2s linear;-ms-transition:opacity 0.2s linear;transition:opacity 0.2s linear;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;overflow:hidden;visibility:visible}#signin form{width:240px;float:left}#signin form label{float:none;width:auto;line-height:1.5;text-align:left}#signin form p.password{float:left;margin:0}#signin form p.password input{width:138px}#signin form strong.error_explanation{color:#fcc}#signin button span{width:55px}#signin p.text input{width:228px}#signin a{line-height:1;padding-top:4px}#signin p.submit{float:right;padding-top:1.45em;margin:0}#signup label,#signin label,#forgot_password label,#password_reset_sent label{color:#3c8c30;text-shadow:rgba(0,0,0,0.8) 0 -1px 0}#signup input,#signin input,#forgot_password input,#password_reset_sent input{border-color:none}#signup a:hover,#signin a:hover,#forgot_password a:hover,#password_reset_sent a:hover{color:#ccc}p.instructions{margin:0 0 10px}html.live li.live span.status{color:#579D7A}html.live li.live span.indicator{background:#222}html.live li.live span.indicator span{display:block;margin:3px;vertical-align:middle;width:10px;height:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;opacity:1;background:#31654B}html.live li.live.hit span.indicator span{background:#FEE283}html.live a.live.refresh{display:none}html.live a.live.refresh.hit span{opacity:1}div.code h2{display:none;font-size:16px;line-height:1;color:#222;margin:15px 0}div.code h2:first-of-type{margin-top:0}div.code p{margin:0 0 15px}div.code pre{background:#f4f4f4;background:rgba(0,0,0,0.05);color:#222;text-shadow:#fff 0 1px 1px;margin:0 0 15px;padding:10px 15px;font-size:15px;clear:both;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}div.code form{display:none}div.code .install-help{color:#222;text-shadow:#fff 0 1px 1px;padding:10px 15px;border-radius:5px;background-color:rgba(255,0,0,0.05);margin-bottom:10px}m{font-weight:bold;color:#222}.state .edit{display:none}.state.edit .edit{display:block}.state.edit .show{display:none}div.share .error_explanation{padding-left:85px}div.share p.share{text-align:right;padding:5px 5px 5px 15px;margin:0;line-height:29px;overflow:hidden}div.share p.share span.info{float:left;font-weight:normal;text-shadow:#fff 0 1px 0;text-align:left}div.share p.share span.edit a{margin:0 10px;display:inline-block}div.share p.share em{margin-right:8px}div.share p.share small{display:block;color:#999;margin-top:-16px}div.share button span,div.share .button{height:25px;line-height:25px}div.share:nth-child(odd){background:#EAF0F5;background:rgba(0,102,204,0.05)}form{clear:both}form h2{margin:0 0 10px}form a{display:block;color:#396;text-decoration:none}form p.support{padding-left:115px}form .state p.support{margin:0 0 8px}form label{color:#999;font-weight:bold;text-shadow:#fff 0 1px 1px;display:block;float:left;margin:0 15px 0 0;text-align:right;width:100px;-webkit-font-smoothing:antialiased}form p.text{margin:0 0 10px}form p.text label{line-height:27px}form p.text input,form p.text textarea{border:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;width:250px;font-size:15px;padding:6px;-webkit-box-shadow:rgba(255,255,255,0.15) 0 1px 0,rgba(0,0,0,0.5) 0 -1px 0;-moz-box-shadow:rgba(255,255,255,0.15) 0 1px 0,rgba(0,0,0,0.5) 0 -1px 0}form p.text textarea{height:200px}form p.text input.error{border-color:#CC9D9D}form select{width:262px;font-size:15px;margin:5px 0;color:#222}form input:focus,form select:focus{outline:none}#data form input{-webkit-box-shadow:inset rgba(0,102,204,0.1) 0 0 10px;-moz-box-shadow:inset rgba(0,102,204,0.1) 0 0 10px;border:1px solid #ccc}#data form p.submit{padding-left:116px}button{margin:0;padding:0;display:inline-block;line-height:1;overflow:visible;border:none;background:none}#loading{display:none}header,#footer-text,#sites-wrapper,#data{opacity:0}body.loaded #sites-wrapper,body.loaded header,body.loaded #data,body.loaded #footer-text{opacity:1;transition:opacity .25s}input.labelized{color:#ccc}body.forgot #signin{opacity:0;z-index:0;visibility:hidden}body.forgot #forgot_password{opacity:1;z-index:5;visibility:visible}body.reset_sent #signin{opacity:0;visibility:hidden;z-index:0}body.reset_sent #password_reset_sent{opacity:1;z-index:5;visibility:visible}div.notice{width:100%;box-sizing:border-box;padding:7px 10px;overflow:hidden;background:#FEE283;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #fee182), color-stop(1, #fef29a));background-image:-moz-linear-gradient(center bottom, #fee182 0%, #fef29a 100%);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.45) 0 1px 0,inset rgba(0,0,0,0.2) 0 -1px 0;-moz-box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.45) 0 1px 0,inset rgba(0,0,0,0.2) 0 -1px 0;box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.45) 0 1px 0,inset rgba(0,0,0,0.2) 0 -1px 0;color:#630;font-size:15px;font-weight:normal;text-shadow:rgba(255,255,255,0.7) 0 1px 1px;margin:0 0 15px}div.notice a{color:#630;text-decoration:none;display:block;margin:-7px -10px;padding:7px 10px}div.announcement{position:relative}div.announcement a{margin:0;padding:0;display:inline-block;text-decoration:underline}div.announcement a.close{float:right;padding-bottom:7px;padding-left:7px;margin-right:-3px;display:block;width:9px;height:9px;background-image:url("/assets/close-81cea1ea39c08ed3f983b37392a637e6.png");background-repeat:no-repeat;background-position:top right;text-indent:-9999px;text-decoration:none;overflow:hidden}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){div.announcement a.close{background-image:url("/assets/close@2x-24befa9af1ac9b9c4242bd10f87c6a2d.png");-webkit-background-size:9px 9px;background-size:9px 9px}}div#notices{margin:0 auto;position:relative;z-index:100}div.pricing table{width:100%;margin-top:-8px;border-collapse:collapse;border-bottom:1px solid #dedede}div.pricing th.signup{width:50px}div.pricing th{padding:0 15px 8px;vertical-align:top;-webkit-font-smoothing:antialiased;border-bottom:1px solid #dedede}div.pricing th h2{font-size:21px;font-weight:300;padding:0;margin:0;color:#222}div.pricing th strong{font-size:50px;line-height:1;font-weight:normal;color:#396;position:relative;letter-spacing:-3px}div.pricing th strong span{font-size:16px;position:absolute;top:10px;left:-12px}div.pricing th h5{font-size:13px;margin:0 0 0 -15px;font-weight:normal}div.pricing th h5 strong{font-size:100%;letter-spacing:0;font-weight:bold}div.pricing th small{font-size:15px;text-transform:uppercase;vertical-align:top;padding:5px 0 0 3px;display:inline-block;font-weight:normal;line-height:1.2}div.pricing th small span{display:block}div.pricing td{padding:8px 15px;font-size:15px}div.pricing tr:nth-child(odd) td{background:#EAF0F5;background:rgba(0,102,204,0.05)}div.pricing tr.extra strong{color:#396;-webkit-font-smoothing:antialiased}div.pricing div.display a.button{text-align:center;width:50px;line-height:21px}div.pricing div.toolbar{padding-left:12px}div.pricing div.toolbar p.submit{float:right;padding-top:1.45em;margin:0;padding:0 2px}div.pricing div.toolbar a.button{float:left;margin:7px 0}div.pricing div.toolbar span{float:right;font-weight:normal;margin:0 7px 0 0}div.pricing div.defered{font-weight:normal;font-style:italic;color:#999;text-align:center;background:#f4f4f4;background:rgba(0,0,0,0.05);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;line-height:27px}footer{margin:0 auto;width:100%;max-width:1000px;left:0;right:0;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;position:fixed;bottom:0;z-index:16;line-height:35px;color:#999;height:35px;background:url("/assets/grey-52e74cad092cff4c017a44da2d3e8431.jpg")}footer #footer-text{padding-left:27%}footer ul{position:absolute;right:2%;top:0}footer ul a{padding:0 0 0 15px}footer ul li{list-style:none;float:left}footer a{color:#ccc;text-decoration:none;display:inline-block;-moz-transition:color 0.2s linear;-o-transition:color 0.2s linear;-webkit-transition:color 0.2s linear;-ms-transition:color 0.2s linear;transition:color 0.2s linear}footer a:hover{color:#fff}#sites div.disabled{opacity:0.75;height:46px}#sites div.disabled p{padding:0 0 10px 10px}#data .disabled{position:relative;z-index:10;float:left}#data .disabled a{opacity:0.2;cursor:default}#data .disabled span.message{display:block;visibility:hidden;opacity:0;position:absolute;z-index:11;top:100%;white-space:normal;right:0;margin:10px 0 0 -90px;background:#FEE283;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #fee182), color-stop(1, #fef29a));background-image:-moz-linear-gradient(center bottom, #fee182 0%, #fef29a 100%);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #CFB769;color:#630;font-weight:normal;line-height:1.3;text-shadow:rgba(255,255,255,0.7) 0 1px 1px;padding:5px 10px;width:160px;font-size:15px;-webkit-box-shadow:rgba(0,0,0,0.3) 0 3px 10px;-webkit-transition:opacity 0.2s linear;-moz-transition:opacity 0.2s linear}#data .disabled:hover a.button{opacity:0.2}#data .disabled:hover span.message{opacity:1;visibility:visible}#site_content div.pricing .sharing{text-align:center;width:80px}#site_content div.pricing .tracks{text-align:right}#site_content div.pricing .price{text-align:right;width:40px}#site_content div.tracking_code a{color:#000}#site_content div.tracking_code a:hover{text-decoration:none}td.sharing span{display:inline-block;width:16px;height:25px;text-indent:-9999px;background-image:url("/assets/infinity-4aacba22817eb2fb3fadb3ad57e39484.png");background-repeat:no-repeat;background-position:center}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){td.sharing span{background-image:url("/assets/infinity@2x-59f78bf492488ae746899e87e37a0ea7.png");-webkit-background-size:16px 9px;background-size:16px 9px}}td.sharing.none span{background-image:url("/assets/no-f43c85da946b9f98ac4a7853e742e212.png")}@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){td.sharing.none span{background-image:url("/assets/no@2x-8976d70d5c03ce8cf63c1c8b907245f6.png");-webkit-background-size:13px 13px;background-size:13px 13px}}#display_panel a:not(.button){color:#000}#display_panel a:not(.button).help_link{color:#999}#IntercomMessageViewContainer li blockquote p{color:#1F1F1F}.needs-installed #sites-wrapper div.site.current,.needs-installed #sites-wrapper div.site.current::before{background-image:url("/assets/white-4ee01c7734ea119d3e24773191ea3430.jpg")}.needs-installed #sites-wrapper div.site.current h2{color:#333}.needs-installed #data div.nav{display:none}.needs-installed .toolbar.top{border-top-left-radius:5px}.needs-installed .toolbar.bottom{border-bottom-left-radius:5px}.needs-installed .code h2,.needs-installed .code form{display:block}@media only screen and (max-width: 800px){body.loaded header{position:absolute;top:0;left:0;right:0;height:44px;margin-left:0;padding:0 10px;width:100%;box-sizing:border-box;text-align:center;background-image:-webkit-gradient(linear, left top, left bottom, from(#396), to(#31654b));background-image:-webkit-linear-gradient(top, #396, #31654b);background-image:linear-gradient(to bottom, #396, #31654b);box-shadow:rgba(0,0,0,0.8) 0 1px 3px,rgba(0,0,0,0.65) 0 0 0 1px,inset rgba(255,255,255,0.25) 0 1px 1px,inset rgba(0,0,0,0.25) 0 -1px 1px}header #nav-wrapper{margin-top:0;width:100%;margin-left:0}body.loaded header .new{display:none}body.loaded header h1{position:absolute;left:50%;margin-left:-46px;top:6px}body.loaded header h1 a{margin:0}body.loaded header ul{display:none}body.view-nav a.back,body.view-panel a.back{display:block;position:absolute;margin-top:4px;line-height:30px;left:0;min-width:50px;text-align:center;font-weight:bold;text-decoration:none;border-left:12px;border-right:5px;color:white;color:#fff;text-shadow:#000 0px 1px 1px;border:3px solid transparent;border-width:3px 5px 3px 12px;border-image:url("/assets/ios_left-b1c7fa4a0abb8d1f314cc09dd69ee9f1.png") 0 5 0 12 fill;border-image-width:3px 5px 3px 12px}body a.sign_out,body:not(.view-nav):not(.view-panel) a.my_account{display:block;position:absolute;margin-top:7px;line-height:24px;right:0;min-width:55px;text-align:center;font-weight:bold;text-decoration:none;padding-left:5px;padding-right:5px;color:white;color:#fff;text-shadow:#000 0px 1px 1px;border:3px solid transparent;border-image:url("/assets/ios_center-0c6b08ab5c7b92eeaadec39a2c3fd685.png") 4 fill}body:not(.view-nav):not(.view-panel) a.my_account{right:initial;left:0}.map_view{display:none}#site_content #map{display:none !important}#site_content div.display.with_map{top:43px}body.loaded footer{display:none}
                                                                                                                                                                                                        #wrapper{
                                                                                                                                                                                                        background-color: #325765; 
                                                                                                                                                                                                        position:absolute;width:100%;top:44px;left:0;right:0;bottom:0;overflow:hidden}
                                                                                                                                                                                                        #sites-wrapper{display:block;top:0;bottom:0;padding:10px;overflow-y:scroll;-webkit-overflow-scrolling:touch;box-sizing:border-box;max-width:100%;margin:0}#sites-wrapper #sites{margin:0;padding:0;width:100%}#sites.meld div.site.current{width:100%;-webkit-border-radius:5px;border-radius:5px}#sites.meld div.site.current ul{right:10px}#sites div.site.current:before{display:none}#sites div.site.current:after{display:none}#sites div.site.current h2:before{display:none}#sites div.site.current h2:after{display:none}#data-wrapper{display:block;position:initial}body.loaded #data{display:block;position:initial}body.loaded #data div.nav,body.loaded #data #site_content{width:100%;box-sizing:border-box;position:absolute;top:0;bottom:0;left:100%}body.loaded #data div.nav{padding:0 10px;border-radius:0}body.loaded #data #site_content{background:url("/assets/white-4ee01c7734ea119d3e24773191ea3430.jpg")}#data div.nav h2{font-size:18px}#data div.nav ul{border:1px solid rgba(0,0,0,0.1);-webkit-border-radius:8px;margin:0 0 10px}#data div.nav ul li a{font-size:15px;height:36px;line-height:36px;display:block;border-top:1px solid rgba(0,0,0,0.1);border-radius:0 !important;-webkit-border-radius:0 !important}#data div.nav ul li.current a{-webkit-box-shadow:none}#data div.nav ul li:first-child a{border:none;-webkit-border-top-left-radius:8px !important;-webkit-border-top-right-radius:8px !important}#data div.nav ul li:last-child a{-webkit-border-bottom-left-radius:8px !important;-webkit-border-bottom-right-radius:8px !important}#site_content div.today h1{font-size:35px;line-height:1;color:#222}#site_content div.pie{width:80vmin;height:80vmin;margin:0 auto 20px}#sites-wrapper,div.nav,#site_content{transition:left 0.25s}body.loaded.view-nav 
                                                                                                                                                                                                        #wrapper{overflow:hidden}body.loaded.view-nav #sites-wrapper{left:-100%}body.loaded.view-nav #data div.nav{left:0}body.loaded.view-panel #sites-wrapper{left:-100%}body.loaded.view-panel #data-wrapper div.nav{left:-100%}body.loaded.view-panel #data-wrapper #site_content{left:0}#full_map .toolbar.top p{display:none}}@media only screen and (max-width: 330px){#site_content th{padding:0 2px}#site_content div.pricing td{padding:4px}#site_content div.pricing .tracks{text-align:left}#site_content div.pricing .sharing{width:auto}#site_content div.pricing th:first-child,#site_content div.pricing td:first-child{display:none}#site_content div.pricing table tr:last-child,#site_content div.pricing table tr:nth-last-child(2){display:none}div.toolbar.top.options{padding:0 45px}div.toolbar.top.options ul.group_options li{padding:0}div.toolbar.top.options ul.group_options li a{padding:0 2px}div.toolbar.top.options ul.group_options li.current a{color:#222;background:transparent;-webkit-box-shadow:none;text-shadow:none}form p.text label{width:90px}form p.text input,form p.text textarea{max-width:160px}}@media only screen and (max-width: 330px){div.toolbar.top.options{padding:0 30px}div.toolbar.top.options ul.group_options li{padding:0}div.toolbar.top.options ul.group_options li a{padding:0 3px}div.toolbar.top.options ul.group_options li.current a{color:#222;background:transparent;-webkit-box-shadow:none;text-shadow:none}div.toolbar.top.options ul.pagination a{width:30px}}@media only screen and (max-width: 900px){.button.new{left:-85px}.button.new i{display:none}}@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){body.view-nav a.back,body.view-panel a.back{border-image:url("/assets/ios_left@2x-66e87e780f903c306758bbeeebe4fd5d.png") 0 10 0 24 fill}body a.sign_out,body:not(.view-nav):not(.view-panel) a.my_account{border-image:url("/assets/ios_center@2x-b442109e4004cf91c41e13b87efeda61.png") 8 fill}}

form{
    width: 100%;
}
input{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;

}

.submit{
    margin-bottom: 5px;
    margin-top: 5px;
    text-justify: inherit;
    text-align: center;

}

label.upload {
    width: 100%;

}

label.upload {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 2px;
    cursor: pointer;
    color: #ccc;
    width: 100%;
}

.upload_file {

    -moz-box-shadow:inset 0px -3px 7px 0px #325765;
    -webkit-box-shadow:inset 0px -3px 7px 0px #325765;
    box-shadow:inset 0px -3px 7px 0px #325765;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background:-moz-linear-gradient(top, #325765 5%, #325765 100%);
    background:-webkit-linear-gradient(top, #325765 5%, #325765 100%);
    background:-o-linear-gradient(top, #325765 5%, #325765 100%);
    background:-ms-linear-gradient(top, #325765 5%, #325765 100%);
    background:linear-gradient(to bottom, #325765 5%, #325765 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color:#2dabf9;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #0b0e07;
    display:inline-block;
    cursor:pointer;
    color:#FFF;
    font-family:Arial;
    font-size:15px;
    padding:3px 10px;
    text-decoration:none;
    width: 100%;
}
.upload_file:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color:#0688fa;
}
.upload_file:active {
    top:1px;
}


a{
    color: #008080;
    padding-top: 10px;
    font-size: 15px;

}

.signup{
    text-align: center;

}

label, input {
    font-size: 15px;
}

html{
    background-color: #0a5658;
    width: 100%
}

.header{
    font-size: 18px;
    text-align: right;
    color: #0fac9e;
}



