<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAccountsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAccountsEmpty}" rendered="#{accountsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{accountsController.items.rowCount > 0}">
                    <h:outputText value="#{accountsController.pagination.pageFirstItem + 1}..#{accountsController.pagination.pageLastItem + 1}/#{accountsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{accountsController.previous}" value="#{bundle.Previous} #{accountsController.pagination.pageSize}" rendered="#{accountsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{accountsController.next}" value="#{bundle.Next} #{accountsController.pagination.pageSize}" rendered="#{accountsController.pagination.hasNextPage}"/>&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <h:commandLink action="#{accountsController.prepareCreate}" value="#{bundle.ListAccountsCreateLink}"/>
                    &nbsp;&nbsp;&nbsp;
                    <h:link outcome="/index" value="#{bundle.ListAccountsIndexLink}"/>
                    <br />
                    <br />
                    <h:dataTable value="#{accountsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">

                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccountsTitle_accountsPK_account}"/>
                            </f:facet>
                            <h:outputText value="#{item.accountsPK.account}"/>
                        </h:column>                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccountsTitle_accountsPK_subAccount}"/>
                            </f:facet>
                            <h:outputText value="#{item.accountsPK.subAccount}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccountsTitle_active}"/>
                            </f:facet>
                            <h:outputText value="#{item.active}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAccountsTitle_flagged}"/>
                            </f:facet>
                            <h:outputText value="#{item.flagged}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{accountsController.prepareView}" value="#{bundle.ListAccountsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{accountsController.prepareEdit}" value="#{bundle.ListAccountsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{accountsController.destroy}" value="#{bundle.ListAccountsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
