<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAccountsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <br />
                <h:commandLink action="#{accountsController.destroyAndView}" value="#{bundle.ViewAccountsDestroyLink}"/>
                &nbsp;&nbsp;&nbsp;
                <h:link outcome="Edit" value="#{bundle.ViewAccountsEditLink}"/>   
                &nbsp;&nbsp;&nbsp;
                <h:commandLink action="#{accountsController.prepareCreate}" value="#{bundle.ViewAccountsCreateLink}" />
                &nbsp;&nbsp;&nbsp;
                <h:commandLink action="#{accountsController.prepareList}" value="#{bundle.ViewAccountsShowAllLink}"/>
                &nbsp;&nbsp;&nbsp;
                <h:link outcome="/index" value="#{bundle.ViewAccountsIndexLink}"/>
                <br />
                <br />
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAccountsLabel_accountsPK_account}"/>
                    <h:outputText value="#{accountsController.selected.accountsPK.account}" title="#{bundle.ViewAccountsTitle_accountsPK_account}"/>
                    <h:outputText value="#{bundle.ViewAccountsLabel_accountsPK_subAccount}"/>
                    <h:outputText value="#{accountsController.selected.accountsPK.subAccount}" title="#{bundle.ViewAccountsTitle_accountsPK_subAccount}"/>
                    <h:outputText value="#{bundle.ViewAccountsLabel_active}"/>
                    <h:outputText value="#{accountsController.selected.active}" title="#{bundle.ViewAccountsTitle_active}"/>
                    <h:outputText value="#{bundle.ViewAccountsLabel_flagged}"/>
                    <h:outputText value="#{accountsController.selected.flagged}" title="#{bundle.ViewAccountsTitle_flagged}"/>
                </h:panelGrid>
                

            </h:form>
        </ui:define>
    </ui:composition>

</html>
