<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateWbsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:commandLink action="#{wbsController.prepareList}" value="#{bundle.CreateWbsShowAllLink}" immediate="true"/>
                &nbsp;&nbsp;&nbsp;
                <h:link outcome="/index" value="#{bundle.CreateWbsIndexLink}"/>
                <br /><br />
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateWbsLabel_wbsNumber}" for="wbsNumber" />
                    <h:inputText id="wbsNumber" value="#{wbsController.selected.wbsNumber}" title="#{bundle.CreateWbsTitle_wbsNumber}" required="true" requiredMessage="#{bundle.CreateWbsRequiredMessage_wbsNumber}"/>
                    <h:outputLabel value="#{bundle.CreateWbsLabel_active}" for="active" />
                    <h:selectBooleanCheckbox value="#{wbsController.selected.active}" id="active" />
                    <h:outputLabel value="#{bundle.CreateWbsLabel_flagged}" for="flagged" />
                    <h:selectBooleanCheckbox value="#{wbsController.selected.flagged}" id="flagged" />
                </h:panelGrid>
                <br />
                <br />
                <h:commandLink action="#{wbsController.create}" value="#{bundle.CreateWbsSaveLink}" />
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
