<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateWbsBreakdownTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:commandLink action="#{wbsBreakdownController.prepareList}" value="#{bundle.CreateWbsBreakdownShowAllLink}" immediate="true"/>
                &nbsp;&nbsp;&nbsp;
                <h:link outcome="/index" value="#{bundle.CreateWbsBreakdownIndexLink}"/>
                <br />
                <br />
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateWbsBreakdownLabel_percent}" for="percent" />
                    <h:inputText id="percent" value="#{wbsBreakdownController.selected.percent}" title="#{bundle.CreateWbsBreakdownTitle_percent}" required="true" requiredMessage="#{bundle.CreateWbsBreakdownRequiredMessage_percent}"/>
                    <h:outputLabel value="#{bundle.CreateWbsBreakdownLabel_accounts}" for="accounts" />
                    <h:selectOneMenu id="accounts" value="#{wbsBreakdownController.selected.accounts}" title="#{bundle.CreateWbsBreakdownTitle_accounts}" required="true" requiredMessage="#{bundle.CreateWbsBreakdownRequiredMessage_accounts}">
                        <f:selectItems value="#{accountsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateWbsBreakdownLabel_wbs}" for="wbs" />
                    <h:selectOneMenu id="wbs" value="#{wbsBreakdownController.selected.wbs}" title="#{bundle.CreateWbsBreakdownTitle_wbs}" required="true" requiredMessage="#{bundle.CreateWbsBreakdownRequiredMessage_wbs}">
                        <f:selectItems value="#{wbsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br /><br />
                <h:commandLink action="#{wbsBreakdownController.create}" value="#{bundle.CreateWbsBreakdownSaveLink}" />
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
