<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListWbsBreakdownTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListWbsBreakdownEmpty}" rendered="#{wbsBreakdownController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{wbsBreakdownController.items.rowCount > 0}">
                    <h:outputText value="#{wbsBreakdownController.pagination.pageFirstItem + 1}..#{wbsBreakdownController.pagination.pageLastItem + 1}/#{wbsBreakdownController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{wbsBreakdownController.previous}" value="#{bundle.Previous} #{wbsBreakdownController.pagination.pageSize}" rendered="#{wbsBreakdownController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{wbsBreakdownController.next}" value="#{bundle.Next} #{wbsBreakdownController.pagination.pageSize}" rendered="#{wbsBreakdownController.pagination.hasNextPage}"/>&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <h:commandLink action="#{wbsBreakdownController.prepareCreate}" value="#{bundle.ListWbsBreakdownCreateLink}"/>
                    &nbsp;&nbsp;&nbsp;
                    <h:link outcome="/WBS" value="Manage WBS Breakdown"/>
                    &nbsp;&nbsp;&nbsp;
                    <h:link outcome="/index" value="#{bundle.ListWbsBreakdownIndexLink}"/>
                    
                    <br /><br />
                    <h:dataTable value="#{wbsBreakdownController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWbsBreakdownTitle_percent}"/>
                            </f:facet>
                            <h:outputText value="#{item.percent}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWbsBreakdownTitle_accounts}"/>
                            </f:facet>
                            <h:outputText value="#{item.accounts}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWbsBreakdownTitle_wbs}"/>
                            </f:facet>
                            <h:outputText value="#{item.wbs}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{wbsBreakdownController.prepareView}" value="#{bundle.ListWbsBreakdownViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{wbsBreakdownController.prepareEdit}" value="#{bundle.ListWbsBreakdownEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{wbsBreakdownController.destroy}" value="#{bundle.ListWbsBreakdownDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
