<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLeaveDistributionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:commandLink action="#{leaveDistributionController.prepareList}" value="#{bundle.CreateLeaveDistributionShowAllLink}" immediate="true"/>
                &nbsp;&nbsp;&nbsp;
                <h:link outcome="/index" value="#{bundle.CreateLeaveDistributionIndexLink}"/>
                <br /><br />
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateLeaveDistributionLabel_leaveDistributionPK_payPeriodDate}" for="leaveDistributionPK_payPeriodDate" />
                    <h:inputText id="leaveDistributionPK_payPeriodDate" value="#{leaveDistributionController.selected.leaveDistributionPK.payPeriodDate}" title="#{bundle.CreateLeaveDistributionTitle_leaveDistributionPK_payPeriodDate}" required="true" requiredMessage="#{bundle.CreateLeaveDistributionRequiredMessage_leaveDistributionPK_payPeriodDate}">
                        <f:convertDateTime pattern="yyyy-mm-dd" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateLeaveDistributionLabel_percent}" for="percent" />
                    <h:inputText id="percent" value="#{leaveDistributionController.selected.percent}" title="#{bundle.CreateLeaveDistributionTitle_percent}" required="true" requiredMessage="#{bundle.CreateLeaveDistributionRequiredMessage_percent}"/>
                    <h:outputLabel value="#{bundle.CreateLeaveDistributionLabel_accounts}" for="accounts" />
                    <h:selectOneMenu id="accounts" value="#{leaveDistributionController.selected.accounts}" title="#{bundle.CreateLeaveDistributionTitle_accounts}" required="true" requiredMessage="#{bundle.CreateLeaveDistributionRequiredMessage_accounts}">
                        <f:selectItems value="#{accountsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateLeaveDistributionLabel_employee}" for="employee" />
                    <h:selectOneMenu id="employee" value="#{leaveDistributionController.selected.employee}" title="#{bundle.CreateLeaveDistributionTitle_employee}" required="true" requiredMessage="#{bundle.CreateLeaveDistributionRequiredMessage_employee}">
                        <f:selectItems value="#{employeeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br /><br />
                <h:commandLink action="#{leaveDistributionController.create}" value="#{bundle.CreateLeaveDistributionSaveLink}" />
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
