<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLeaveDistributionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <br />
                <h:commandLink action="#{leaveDistributionController.destroyAndView}" value="#{bundle.ViewLeaveDistributionDestroyLink}"/>
                &nbsp;&nbsp;&nbsp;
                <h:link outcome="Edit" value="#{bundle.ViewLeaveDistributionEditLink}"/>
                &nbsp;&nbsp;&nbsp;
                <h:commandLink action="#{leaveDistributionController.prepareCreate}" value="#{bundle.ViewLeaveDistributionCreateLink}" />
                &nbsp;&nbsp;&nbsp;
                <h:commandLink action="#{leaveDistributionController.prepareList}" value="#{bundle.ViewLeaveDistributionShowAllLink}"/>
                &nbsp;&nbsp;&nbsp;
                <h:link outcome="/index" value="#{bundle.ViewLeaveDistributionIndexLink}"/>
                <br /><br />
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLeaveDistributionLabel_leaveDistributionPK_payPeriodDate}"/>
                    <h:outputText value="#{leaveDistributionController.selected.leaveDistributionPK.payPeriodDate}" title="#{bundle.ViewLeaveDistributionTitle_leaveDistributionPK_payPeriodDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewLeaveDistributionLabel_percent}"/>
                    <h:outputText value="#{leaveDistributionController.selected.percent}" title="#{bundle.ViewLeaveDistributionTitle_percent}"/>
                    <h:outputText value="#{bundle.ViewLeaveDistributionLabel_accounts}"/>
                    <h:outputText value="#{leaveDistributionController.selected.accounts}" title="#{bundle.ViewLeaveDistributionTitle_accounts}"/>
                    <h:outputText value="#{bundle.ViewLeaveDistributionLabel_employee}"/>
                    <h:outputText value="#{leaveDistributionController.selected.employee}" title="#{bundle.ViewLeaveDistributionTitle_employee}"/>
                </h:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
