<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditFabAccountTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:link outcome="View" value="#{bundle.EditFabAccountViewLink}"/>
                &nbsp;&nbsp;&nbsp;
                <h:commandLink action="#{fabAccountController.prepareList}" value="#{bundle.EditFabAccountShowAllLink}" immediate="true"/>
                &nbsp;&nbsp;&nbsp;
                <h:link outcome="/index" value="#{bundle.EditFabAccountIndexLink}" />
                <br /><br />
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditFabAccountLabel_accounts}" for="accounts" />
                    <h:selectOneMenu id="accounts" value="#{fabAccountController.selected.accounts}" title="#{bundle.EditFabAccountTitle_accounts}" required="true" requiredMessage="#{bundle.EditFabAccountRequiredMessage_accounts}">
                        <f:selectItems value="#{accountsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditFabAccountLabel_nonFab}" for="nonFab" />
                    <h:selectOneMenu id="nonFab" value="#{fabAccountController.selected.nonFab}" title="#{bundle.EditFabAccountTitle_nonFab}" >
                        <f:selectItems value="#{accountsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <br />
                <h:commandLink action="#{fabAccountController.update}" value="#{bundle.EditFabAccountSaveLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
