<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewFabAccountTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:commandLink action="#{fabAccountController.destroyAndView}" value="#{bundle.ViewFabAccountDestroyLink}"/>
                &nbsp;&nbsp;&nbsp;
                <h:link outcome="Edit" value="#{bundle.ViewFabAccountEditLink}"/>
                &nbsp;&nbsp;&nbsp;
                <h:commandLink action="#{fabAccountController.prepareCreate}" value="#{bundle.ViewFabAccountCreateLink}" />
                &nbsp;&nbsp;&nbsp;
                <h:commandLink action="#{fabAccountController.prepareList}" value="#{bundle.ViewFabAccountShowAllLink}"/>
                &nbsp;&nbsp;&nbsp;
                <h:link outcome="/index" value="#{bundle.ViewFabAccountIndexLink}"/>
                <br />
                <br />
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewFabAccountLabel_accounts}"/>
                    <h:outputText value="#{fabAccountController.selected.accounts}" title="#{bundle.ViewFabAccountTitle_accounts}"/>
                    <h:outputText value="#{bundle.ViewFabAccountLabel_nonFab}"/>
                    <h:outputText value="#{fabAccountController.selected.nonFab}" title="#{bundle.ViewFabAccountTitle_nonFab}"/>
                </h:panelGrid>
                

            </h:form>
        </ui:define>
    </ui:composition>

</html>
