<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>CLASSE LLJV</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body class="signup">
        <h:outputStylesheet library="css" name="styles.css"  />
        <h:panelGroup id = "wrapper">
            <h:panelGroup id = "signup">

                <h:outputText class = "header" value="CLASSE LLJV"></h:outputText>    
                <br/>
                <br/>
                <h:panelGroup rendered="#{!empty KFS.message}">
                    <h:outputLabel value="#{KFS.message}"/>
                    <h:form>
                        <h:commandButton value="Upload new KFS" action="#{KFS.clearMessage()}"/>
                    </h:form>
                </h:panelGroup>
                <h:form enctype="multipart/form-data" rendered="#{empty KFS.message}">
                    <h:outputLabel value="KFS Report: " />
                    <h:inputFile id="kfsCsv" value="#{KFS.kfsCsv}" validator="#{LLJVCSV.validateCSV}"/> 
                    <h:commandButton value="Upload KFS" action="#{KFS.uploadCSV}"/>
                </h:form>
                <br/>
                <h:panelGroup rendered="#{!empty replicon.message}">
                    <h:outputLabel value="#{replicon.message}"/>
                    <h:form>
                        <h:commandButton value="Upload new Replicon" action="#{replicon.clearMessage()}"/>
                    </h:form>
                </h:panelGroup>
                <h:form enctype="multipart/form-data" rendered="#{empty replicon.message}">
                    <h:outputLabel value="Replicon Report: " />
                    <h:inputFile id="repliconCsv" value="#{replicon.repliconCsv}" validator="#{LLJVCSV.validateCSV}"/> 
                    <h:commandButton value="Upload Replicon" action="#{replicon.uploadCSV}"/>
                </h:form>

                <h:form>
                    <h:outputLabel value="Fiscal Year: " />
                    <h:inputText class= "text" value="#{LLJVCSV.fiscalYear}" label="Fiscal Year"/>     
                    <h:outputLabel value="Pay Period (Month of Fiscal Year): " />
                    <h:inputText class= "text" value="#{LLJVCSV.payPeriod}" label="Pay Period"/>                     
                    <h:commandButton class="submit" value="Submit" 
                                     action="#{LLJV.LLJV()}" /> 
                </h:form>
                <br/>
                <h:link outcome="/accounts/List" value="Manage Accounts."/>
                <br/>
                <h:link outcome="/fabAccount/List" value="Manage Fabrication Accounts."/>
                <br />
                <h:link outcome="/wbs/List" value="Manage WBS List."/>
                <br />
                <h:link outcome="/WBS" value="Manage WBS Breakdowns."/>
                <br />
                <h:link outcome="/employee/List" value="Manage Employees."/>
                <br />
                <h:link outcome="/leaveDistribution/List" value="Manage Leave Distribution."/>
                <br />
            </h:panelGroup>
        </h:panelGroup>
    </h:body>



















</html>

